
<a href="#top" class="text-muted back-to-top"><i class="fa fa-toggle-up"></i>&nbsp;Back to top</a><div class="container"><div class="row"><nav><div class="resource-group"><div class="heading"><div class="chevron"><i class="open fa fa-angle-down"></i></div><a href="#rest-apis">REST APIs</a></div><div class="collapse-content"><ul><li><a href="#header-apis-access">APIs access</a></li><li><a href="#header-overview">Overview</a></li></ul></div></div></nav><div class="content"><!--header--><!--    h1#top!= self.api.name || '&nbsp;'--><span id="rest-apis" class="anchor"></span><section class="resource-group"><h2 class="group-heading">REST APIs <a href="#rest-apis" class="permalink">&para;</a></h2><p>The REST APIs provide programmatic access to read and manage SumUp accounts details, transaction reporting and checkouts. The API identifies applications and users using <a href="/oauth">Oauth</a>.</p>
<h2 id="header-apis-access">APIs access <a class="permalink" href="#header-apis-access" aria-hidden="true">¶</a></h2>
<p>In order to use SumUp API’s you need to regiser and <a href="../oauth/#oauth-setup">setup your application credentials</a>. Valid requests require Bearer access token supplied in the standard http authorization header.</p>
<h2 id="header-overview">Overview <a class="permalink" href="#header-overview" aria-hidden="true">¶</a></h2>
<p>API endpoints and operations are described in the following documents:</p>
<ul>
<li>
<p><a href="/rest-api/accounts-api">Accounts API</a> - Allows you to manage merchant accounts and their assets</p>
</li>
<li>
<p><a href="/rest-api/transactions-api">Transactions API</a> - Extended transaction history and transaction details</p>
</li>
<li>
<p><a href="/rest-api/checkouts-api">Checkouts API</a> - Create and process checkouts. See also <a href="/checkouts">Checkout flow</a></p>
</li>
</ul>
</section></div></div></div>